body{
    max-width: 1200px;
}
div {
 
 margin-left: 30px;
 margin-right: 30px;

font-family:'Times New Roman', Times, serif;
 
}
h4 {
    margin-bottom: 10px;
    margin-top: 10px;

}
.container {
    display: flex;
}